.circle {
  fill: #977d5a;
  stroke-width: 4;
  transition: fill 150ms;
}

.circle.path {
  fill: #d6b17d;
}

.circle-group:hover .circle.path {
  fill: #eecea1;
}

.circle.red {
  fill: #e50000;
}

.circle.green {
  fill: #35cc35;
}

.circle.bordered.red {
  stroke: #ffafaf;
}

.circle.bordered.green {
  stroke: #cfffcf;
}

.board-bg {
  fill: #4b310c;
}

.red-turn .bordered {
  stroke: #cfffcf;
}

.green-turn .bordered {
  stroke: #ffafaf;
}

.red-turn .circle-group:hover .red {
  fill: #e94141;
}

.green-turn .circle-group:hover .green {
  fill: #4b9e4b;
}

.piece-label {
  text-anchor: middle;
  dominant-baseline: central;
  font-family: Menlo, Monaco, Consolas, 'Andale Mono', 'lucida console', 'Courier New', monospace;
  fill: rgb(0 0 0 / 40%);
  user-select: none;
  font-weight: bold;
}
